.left {
    color: #fff;
}

.right {
    width: 77vw;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.invert {
    filter: invert(1);
}

.inline-card {
    /* border: 2px solid seagreen; */
    display: inline-block;
}

.card-txt-1 {
    color: #fff;
}

.card-txt-2 {
    color: #919191;
}

.pointer {
    cursor: pointer;
}

.card-m-txt {
    font-size: 0.95rem;
}

.card-s-txt {
    font-size: 0.82rem;
    margin-top: 0.25rem;
    font-weight: 550;
}

/* card-1 margin from left */
.m-left {
    margin-left: 0.5rem;
}

.flex {
    display: flex;
}

.gap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13.5px;
}

/* for no line under social media icons */
.right-footer .row .social-media-icons ul li a:hover::after {
    transform: scale(0, 0);
}

.song-timing {
    color: #4D4D4D;
    font-size: 0.76rem;
    position: relative;
    bottom: 0.2rem;
}

.play-accessories-gap {
    display: flex;
    gap: 0.7rem;
}
.song-title-size{
    font-size: 0.8rem;
    font-weight: 600;
}
.singer-title-size{
    font-size: 0.68rem;
}